.p {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Установите значение z-index, чтобы заголовок был поверх всего остального содержимого */
  background-color: rgba(255, 255, 255, 0.8); /* Прозрачный фон, чтобы заголовок был виден на любом фоне */
  padding: 10px; /* Добавьте немного отступа для визуального разделения заголовка от остального содержимого */
}
html, body {
  height: 100%;
  margin: 0;
}

/* Для iframe */
iframe {
  display: block;
  width: 100%;
  height: calc(100% - 50px); /* Вычитаем высоту других элементов, если это необходимо */
  box-sizing: border-box;
}
